@page "/employees"
@inject EmployeesService employeesService

<h1>Employees</h1>


<button @onclick="@Add" class="btn btn-success">Add</button>
@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Department</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in employees)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.Department</td>
                    <td>@item.Salary</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (employees != null && mode == MODE.Add)
{
    <input placeholder="Full Name" @bind="@fullname" />
    <br />
    <input placeholder="Department" @bind="@department" />
    <br />
    <input placeholder="Salary" @bind="@salary" />
    <br />
    <button @onclick="@Insert" class="btn btn-warning">Insert</button>
} 

